# {{ ansible_managed }}
{% for host in ssh_push_upstream | sort %}
{% set _vars = hostvars[host] %}
# Host {{ host }}
command="~/bin/ftpsync -T 'ssh ({{ host }})'",from="{{ _vars.ssh_push_ips | join(',') }}",no-agent-forwarding,no-port-forwarding,no-pty,no-user-rc,no-X11-forwarding {{ _vars.ssh_push_key }}
{% endfor %}
