{% for archive, info in mirror_config | dictsort %}
Archive: {{ archive }}
Hostname: {{ info.upstream }}
Password: {{ rsyncd_secrets[inventory_hostname] }}

{% endfor %}
{% for host in inventory_hostname | mirror_config_gather_upstream(hostvars, groups) %}
{%   for key in hostvars[host].ssh_push_pubkeys %}
command="~/bin/ftpsync",from="{{ hostvars[host].ssh_push_ips | join(',') }}",no-port-forwarding,no-X11-forwarding,no-agent-forwarding,no-pty {{ key }}
{%   endfor %}
{% endfor %}
